{%- capture item_count %}
  {%- if current_cart != blank and current_cart.item_count > 0 %}
    <div class="SC-Count sc-ml-tiny" data-cart-nav-count>
      {{ current_cart.item_count }}
    </div>
  {%- endif %}
{%- endcapture %}

<li class="SC-Menu_item dropdown sc-cart sc-cursor-pointer" data-modal-trigger="cart" data-root-nav="cart" data-cart-menu>
  <span
     class="SC-Menu_link sc-hide-up-to-medium">
    <span class="sc-hide-up-to-medium sc-pointer-events-none">
      {{ "header.dropdowns.cart.heading" | t }}
    </span>
    {{ item_count }}
  </span>

  <a href="{{ current_store.cart_path }}" class="SC-Icon SC-Icon-button SC-Icon-medium sc-hide-medium-and-up">
    {%- render "shared/icons/cart" %}
    {{ item_count }}
  </a>
</li>